/* Colors */
$nostalgia-jam: #581845;
$nostalgia-burgandy: #900C3F;
$nostalgia-red: #C70039;
$nostalgia-orange: #FF5733;
$nostalgia-gold: #FFC300;
$lima-bean: #DAF7A6;
$cool-grey: #f4f6f7;
$warm-grey: #545657;
$stone-blue: #21618C;

.container {
  margin: 40px;
  display: grid;
  grid-template-columns: repeat(12, minmax(0,1fr));
  grid-gap: 20px;
  /*grid-auto-rows: minmax(100px, auto);*/
}

.left_column {
  grid-column: 1 / 7;
  /*background-color: lightgrey;*/
  border: 1px solid lightgrey;
  background-color: #F4F6F7;
}

.right_column {
  grid-column: 7 / 13;
  /*background-color: lightgrey;*/
  border: 1px solid lightgrey;
  background-color: #F4F6F7;
}

Canvas {
  border: 1px solid;
}
